<!DOCTYPE html>
<html>
<head>
    <title>MuscleMind AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="navbar">
    <h1>💪 MuscleMind AI</h1>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/workout">Workout</a>
        <a href="/diet">Diet</a>
        <a href="/chat">AI Chat</a>
        <a href="/progress">Progress</a>
    </div>
</div>

<div class="hero">
    <h1>Train Smarter with AI</h1>

    <p>
        Personalized Workouts, Diet Plans,
        and Fitness Coaching powered by AI.
    </p>

    <a href="/workout">
        <button>Start Training</button>
    </a>
</div>

</body>
</html>